body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffe3e8; 
    color: #d63031;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
    width: 320px;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(255, 182, 193, 0.4); 
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.header-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.header-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.peach-icon {
    width: 55px;
    height: 50px;
    background: linear-gradient(to bottom right, #ffd3b6, #ffaaa5);
    border-radius: 45% 45% 55% 55% / 55% 55% 45% 45%;
    position: relative;
    box-shadow: 0 5px 15px rgba(255, 170, 165, 0.4), inset -3px -3px 5px rgba(0,0,0,0.05);
}

.peach-icon::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    width: 18px;
    height: 12px;
    background-color: #81ecec; 
    border-radius: 20px 0px;
    transform: rotate(-30deg) translateX(-5px);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

h1 {
    font-size: 24px;
    margin: 10px 0 20px 0;
    font-weight: 600;
    color: #636e72;
}

.modes {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.mode-btn {
    background: transparent;
    border: none;
    color: #636e72;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;
    transition: 0.3s;
}

.mode-btn.active {
    background-color: #fff;
    color: #ff7675;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    font-weight: bold;
}

.timer {
    font-size: 80px;
    font-weight: bold;
    color: #ff7675; 
    text-shadow: 2px 2px 0px rgba(255,255,255, 0.5);
    margin: 10px 0;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
}

.control-btn {
    flex: 1;
    padding: 15px 0;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.control-btn:active {
    transform: translateY(2px);
    box-shadow: none;
}

#start {
    background-color: #b53939;
    color: white;
}

#pause {
    background-color: #ff7675; 
    color: white;
}

#reset {
    background-color: #ffffff;
    color: #ff7675;
    

}
